# server
PORT=

NODE_ENV=

DATABASE_DEV_USERNAME=
DATABASE_DEV_PASSWORD=
DATABASE_DEV_DATABASE=
DATABASE_DEV_HOST=
DATABASE_DEV_PORT=
DATABASE_DEV_DIALECT=

# production database
DATABASE_PROD_USERNAME=
DATABASE_PROD_PASSWORD=
DATABASE_PROD_DATABASE=
DATABASE_PROD_HOST=
DATABASE_PROD_PORT=
DATABASE_PROD_DIALECT=


# test database
DATABASE_TEST_USERNAME=
DATABASE_TEST_PASSWORD=
DATABASE_TEST_DATABASE=
DATABASE_TEST_HOST=
DATABASE_TEST_PORT=
DATABASE_TEST_DIALECT=

# mongodb
MONGODB_URI=

# RabbitMQ
RABBITMQ_HOST=
BOOKINGSERVICE_RABBITMQ_MAINQUEUE=

# nodemailer
USER=
PASSWORD=

# password hash
SALT_ROUND=
# jwt secret
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=